body{
    background-color:cadetblue;
}
html{
    padding: 20px;
}
/* *{
    border: 1px dotted black;
    margin: 5px;
} */
ul{
    padding: 15px;
    border: 2px dotted orange;
    border-radius: 5px;
}
div{
    border-radius: 30%;
}