body{
    background-color:cadetblue;
    margin: 0;
}
html{
    padding: 20px;
}
/* *{
    border: 1px dotted black;
    margin: 5px;
} */
ul{
    padding: 15px;
    border: 2px dotted orange;
    border-radius: 5px;
}
div{
    border-radius: 30%;
}
img{
    margin: 50px;
}
header{
    background-color: bisque;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
